@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 146, 5, 0.1);
  height: 100vh;
  font-family: "Train One", cursive;
  cursor: url(http://cur.cursors-4u.net/games/gam-11/gam1088.cur), progress;
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  width: 100%;
  background-color: #e98400;
  background-image: linear-gradient(160deg, #e98400 0%, #d08080 100%);
  overflow: hidden;
  position: relative;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}
h1 {
  text-align: center;
  color: #fff;
}
#estrutura {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(160deg, #f87878 0%, transparent 100%);
  height: 50vh;
  width: 100%;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.bird {
  margin: 0 auto;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  width: 60%;
  height: 60px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(7);
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: -0.5s;
}
@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

i {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}
label {
  font-size: 21px;
  color: #fff;
}
#labelSelect {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}
#select {
  width: 80px;
  background-color: #d08080;
  border: #000 2px solid;
  color: #fff;
  text-align: center;
}
#restartButton,
#reset {
  display: none;
}
#play {
  margin-top: 20px;
  font-size: 20px;
  width: 200px;
  cursor: url(http://cur.cursors-4u.net/games/gam-11/gam1088.cur), progress;
  background-color: #d08080;
  border: #000 2px solid;
  color: #fff;
}

@media (min-width: 520px) {
  body {
    background-color: rgba(8, 142, 252, 0.1);
  }
  header {
    background-color: #07aefc;
    background-image: linear-gradient(160deg, #07aefc 0%, #80b9d0 100%);
  }
  #estrutura {
    margin: 30px auto;
    background-image: linear-gradient(160deg, #78e9f8 0%, transparent 100%);
    height: 60vh;
    width: 50%;
  }

  label {
    font-size: 21px;
    color: #000;
  }
  #labelSelect {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #000;
  }
  #play {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    background-color: #80a9d0;
    border: #000 2px solid;
    color: #000;
  }
  #play:hover {
    background-color: #80c4d0;
    border: #000 2px solid;
    color: #fff;
  }
}
