body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Train One", cursive;
  cursor: url(http://cur.cursors-4u.net/games/gam-11/gam1088.cur), progress;
  background-image: url(../img/bg-pg-game.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  width: 100%;
  background-color: #e98400;
  background-image: linear-gradient(160deg, #e98400 0%, #d08080 100%);
  overflow: hidden;
  position: relative;
}
h1 {
  text-align: center;
  color: #fff;
}

#player {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  border: 5px solid #e98400;
  width: 300px;
}

#container {
  height: 55vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
#base {
  height: 20px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background: url("http://i.stack.imgur.com/jGlzr.png") no-repeat 0 0 scroll;
  background-color: #0c0c0c;
  background-size: 100% 100%;
}
.tower {
  background: url("http://i.stack.imgur.com/jGlzr.png") no-repeat 0 0 scroll;
  background-color: #0c0c0c;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 20px;
  height: 140px;
  border-radius: 5px;
  margin: 22px;
}
#disk1 {
  width: 40px;
  height: 25px;
  background-color: rgb(238, 113, 113);
  border-radius: 55%;
  border: solid 2px rgb(238, 113, 113);
}
#disk2 {
  width: 60px;
  height: 25px;
  background-color: rgb(241, 211, 112);
  border-radius: 55%;
  border: solid 2px rgb(241, 211, 112);
}
#disk3 {
  width: 80px;
  height: 25px;
  background-color: rgb(207, 255, 144);
  border-radius: 55%;
  border: solid 2px rgb(207, 255, 144);
}
#disk4 {
  width: 100px;
  height: 25px;
  background-color: rgb(116, 173, 248);
  border-radius: 55%;
  border: solid 2px rgb(116, 173, 248);
}
#popUp {
  border: solid 8px #e98400;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(245, 150, 72, 0.6);
  max-width: 200px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  display: none;
}
#popUpWin {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  display: none;
}
#restartGame {
  display: flex;
  justify-content: center;
}
#restartButton {
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  width: 80%;
  cursor: url(http://cur.cursors-4u.net/games/gam-11/gam1088.cur), progress;
  background-color: #d08080;
  border: #000 2px solid;
  color: #fff;
}
#glass {
  display: none;
  position: absolute;
  transform: translateX(-50%);
  top: 42px;
  left: 50%;
  width: 70%;
  height: 90vh;
  overflow: hidden;
}
#resetButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
#reset {
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  width: 50%;
  cursor: url(http://cur.cursors-4u.net/games/gam-11/gam1088.cur), progress;
  background-color: #d08080;
  border: #000 2px solid;
  color: #fff;
}
@media (min-width: 520px) {
  header {
    background-color: #07aefc;
    background-image: linear-gradient(160deg, #07aefc 0%, #80b9d0 100%);
  }
  #player {
    color: #fff;
    border: 5px solid #07aefc;
  }
  #container {
    height: 70vh;
  }
  #base {
    width: 650px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }

  #disk1 {
    width: 50px;
    height: 25px;
    background-color: rgb(248, 169, 116);
  }
  #disk2 {
    width: 75px;
    height: 25px;
    background-color: rgb(248, 228, 116);
  }
  #disk3 {
    width: 100px;
    height: 25px;
    background-color: rgb(158, 248, 116);
  }
  #disk4 {
    width: 120px;
    height: 25px;
    background-color: rgb(116, 248, 176);
  }
  #popUp {
    border: solid 8px #07aefc;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(72, 176, 245, 0.6);
    max-width: 300px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    display: none;
  }
  #restartButton {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    background-color: #80a9d0;
    border: #000 2px solid;
    color: #000;
  }
  #restartButton:hover {
    background-color: #80c4d0;
    border: #000 2px solid;
    color: #fff;
  }
  #reset {
    font-size: 20px;
    width: 200px;
    background-color: #07aefc;
    background-image: linear-gradient(160deg, #07aefc 0%, #80b9d0 100%);
  }
} ;
